* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

.header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title h1 {
    margin: 0;
    font-size: 24px;
}

.header-menu {
    display: flex;
    gap: 15px;
}

.header-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.header-menu a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

#hero {
    padding: 100px 0;
    text-align: center;
    background-color: #3498db;
    color: white;
}

#hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#attractions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 20px;
}

.attraction {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 250px;
    text-align: center;
}

.attraction:hover {
    transform: translateY(-10px);
}

.attraction img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.attraction h3 {
    padding: 15px;
    background-color: #ecf0f1;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}
#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 20px;
}

.gallery-item {
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover {
    transform: translateY(-10px);
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
    gap: 20px;
}

.video-item {
    width: 45%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.video-item iframe {
    width: 800px;
    height: 500px;
    border-radius: 10px;
}

.video-item h3 {
    margin-top: 10px;
    font-size: 18px;
}
